Package: com.paul159321.mcdonaldsglobalfix
Name: McDonaldsGlobalFix
Version: 1.6.0
Architecture: iphoneos-arm
Description: Overrides GMALite's force-update Remote Config value.
Maintainer: paul159321
Author: paul159321
Section: Tweaks
Depends: mobilesubstrate
